body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  margin-left: 1.5in;
  margin-right: 1.5in;
}
.indexImg{
  background-size: 6in;
}
.card {
  margin-top: 1in;
  margin-left: 2.5in;
  margin-right: 2.5in;
}

